.logotype,
.logotype-footer {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logotype {
  margin-right: 93px;
}

.logo-studio {
  color: var(--logo-studio-header-color);

  &-footer {
    color: var(--main-color);
  }
}
